html, body {
  width: 100%;
  height: 100%;
}

  .wrap {
    width: 100%;
    height: 100%
  }

    .wrap > tr > td {
      text-align: center;
      vertical-align: middle;
    }

      .universe {
        border: 1px solid #000;
        margin: 0 auto;
        cursor: pointer;
      }

        .universe .cell {
          border: 1px solid #ccc;
          width: 10px;
          height: 10px;
          min-width: 10px;
          min-height: 10px;
          margin: 0;
          padding: 0;
        }

        .universe .cell.alive {
          background-color: black;
        }

      .menu {
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
      }

        .menu .button {
          padding: 10px 20px;
          margin: 0 5px;
        }

      .step-display {
        position: fixed;
        top: 20px;
        left: 0;
        width: 100%;
        text-align: center;
      }