.universe {
  border: 1px solid #000;
  cursor: pointer;
}

  .universe tr td {
    border: 1px solid #ccc;
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
    margin: 0;
    padding: 0;
  }

  .universe tr td.alive {
    background-color: black;
  }