html, body {
  width: 100%;
  height: 100%;
}

  .wrap {
    width: 100%;
    height: 100%
  }
    .wrap > tr > td {
      text-align: center;
      vertical-align: middle;
    }
      .universe {
        border: 1px solid #000;
        margin: 0 auto;
        cursor: pointer;
      }
        .universe .cell {
          border: 1px solid #ccc;
          width: 6px;
          height: 6px;
          min-width: 6px;
          min-height: 6px;
          margin: 0;
          padding: 0;
        }
        .universe .cell.alive {
          background-color: black !important;
        }

      .menu {
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
      }
        .menu .button {
          padding: 10px 20px;
          margin: 0 5px;
        }

      .step-display {
        position: fixed;
        top: 20px;
        left: 0;
        width: 100%;
        text-align: center;
      }
        .step-display span {
          display: inline-block;
          width: 30px;
          height: 30px;
          line-height: 30px;
          background-color: rgba(255,255,255,0.5);
        }

      .input-panel {
        position: fixed;
        width: 100%;
        top: 20px;
        left: 40px;
        line-height: 30px;
      }
        .input-panel {
          /*display: inline-block;*/
        }
          .input-panel .value {
            vertical-align: middle;
          }
          .input-panel input {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
          }
          .input-panel .description {
            font-size: 66%;
            vertical-align: middle;
          }
